<!DOCTYPE html>
<html>
<head>
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
  <style>
    .wrapper {
      max-width: 800px;
      margin: 0 auto;
      padding: 10px 20px 40px 20px;
    }
    
    .site-title {
      font-family: inherit;
      color: inherit;
      font-size: 28px;
      font-weight: 600;
      margin-bottom: 10px;
    }
    
    nav {
      text-align: right;
      margin-bottom: 30px;
    }
    nav a {
      margin-left: 15px;
      text-decoration: none;
      color: inherit;
    }

    nav a:hover {
      text-decoration: underline;
    }
  </style>
</head>

<body>

<div class="wrapper">

  <div class="site-title">
    Carina Shiau
  </div>
  
  <div class="nav">
    {{ content }}
  </div>
  
</div>

</body>
</html>
